.menu-button{
        -fx-font-family: "Roboto regualr";
        -fx-font-size: 16.0;
        -fx-background-color: #363C62;
        -fx-text-fill: #7983CA;
        -fx-text-alignment: left;
        -fx-padding: 1.0;
        }

.menu-button-selected{
 		-fx-font-family: "Roboto bold";
        -fx-background-color: #414875;
        -fx-text-fill: #FFFFFF;
        -fx-text-alignment: left;
        -fx-padding: 1.0;
}

.desktop-pane {
	-fx-background-color: #F0F1F8;
}

.desktop-pane-top-bar{
	    -fx-background-color: #FFFFFF;
}

.edit-view-label {
	    -fx-font-family: "Roboto regular";
	    -fx-font-size: 14.0;
}

.input-error {
	-fx-border-color: red;
 	-fx-focus-color: red ;
}

.tooltip {
    -fx-background-color: #ef6c00;
   	-fx-font-family: "Roboto mono Bold";
}

.notification-success {
	-fx-background-color: #00bb00;
}

.notification-information {
	-fx-background-color: #ef6c00;	
}

.notification-error {
	-fx-background-color: #d32f2f;	
}

.notification-label {
	-fx-font-family: "Roboto regular";
	-fx-font-size: 18.0;
	-fx-text-fill: white;
	-fx-text-alignment: center;
}


